@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* loading starts */
.loading{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #001300;
    animation: changeColor 5s linear infinite;
}
.loading h2 {
    color: #00ff0a;
    font-weight: 300;
    letter-spacing: 10px;
    font-family: consolas;
}
@keyframes changeColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.loading .loader {
    position: relative;
    display: flex;
}
.loading .loader .dot {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 20px 10px;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a,
                0 0 100px #00ff0a;
    transform: scale(.1);
    border-radius: 50%;
    animation: animateDot 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
.loading .loader:last-child .dot {
    animation-delay: calc(-0.1s * var(--i));
}

@keyframes animateDot {
    0%,50%,100% {
        transform: scale(.1);
    }
    10% {
        transform: scale(1);
    }
}
@media screen and (max-width: 360px){
    .loading .loader{
        width: 300px;
    }
}

/* loading ends */

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
section header {
    /* background: #000; */
    position: absolute;
    padding: 20px 50px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;  
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}
.content {
    position: relative;
    width: 100%;
    max-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
}
.content .textbox {
    position: relative;
    max-width: 600px;
}
.content .textbox h2 {
    color: #333;
    font-weight: 500;
    line-height: 1.3em;
    font-size: 2em;
}
.content .textbox p {
    color: #333;
    margin: 20px 0;
}
.content .textbox  a {
    text-decoration: none;
    margin-top: 20px;
    background-color: #017143;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}
.content .imgbox img {
    width: 100%;
    height: 100%;
}
@media (min-width: 576px) { 
    .loading {
        width: 100%;
        height: 100vh;
    }
    header ul {
        display: none;
    }
    .content{
        flex-direction: column;
    }
    .content .imgbox {
        margin-top: 50px;
    }
    .content .textbox p {
        margin: 30px 0;
    }
}
/* home section ends */

/* what is edu starts */
.eduKnowledge {
    background: linear-gradient(to bottom ,#caf0f8,  #b7e4c7 , #d8f3dc);
    box-shadow: inset 0px 0px 100px #fff;
    filter: drop-shadow(0 0 100px #caf0f8);
}
.whatIsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content {
    max-width: 650px;
}
.title {
    margin-bottom:  30px ;
}
.title h1{
    font-size: 3rem;
    font-weight: 500;
}
/* title 1 */
.title h1 span:nth-child(1) {
    font-size: 2.5rem;
    color: #333;
    letter-spacing: 2px;
    font-weight: 500;
    transition: .5s;
    transform-origin: left;
    transform: scaleX(0);
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.title h1 span:nth-child(1)[data-scroll="in"]{
    transform: scaleX(1);
}
.title h1 span:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:  0 5px 5px 0;
    background: linear-gradient(to right , #40c9ff , #e81cff);
    transition: .5s;
    transform-origin: right;
}
.title h1 span:nth-child(1)[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: .5s;
}
/* title 2 */
.main-text {
    color: #017143;
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: .5s;
    transform-origin: right;
    transform: scaleX(0);
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.main-text[data-scroll="in"]{
    transform: scaleX(1);
}
.main-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:  5px 0 0 5px;
    background: linear-gradient(to left , #ea5459 , #f7ba2c);
    transition: .5s;
    transform-origin: left;
}
.main-text[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: .5s;
}
/* ends */
.body-text {
    border: 1px solid transparent;
    border-radius: 40px;
    position: relative;
}
.body-text p {
    /* display: inline-block; */
    border: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .5);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    transition: .3s;
    color: #333;
}
.body-text p:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    backdrop-filter: blur( 5px);
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .01);
}
.body-text p[data-scroll="in"] {
    transition-delay: calc(0.1s * var(--i));
    transform: translateX(calc(20px * var(--i)));
}
.wrapper{
    height: 300px;
    width: 300px;
    margin: 0 50px;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: 50%;
}
.image-cube{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    position: relative;
    animation: spin 12s linear infinite;
}
@keyframes spin {
    100%{
        transform:  rotateY(360deg);
    }
}
.image-cube div{
    height: 300px;
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
}
img{
    width: 100%;
}
.front{
    transform: translateZ(150px);
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 100px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .1);
}
.right{
    transform: rotateY(-270deg) translateX(150px);
    transform-origin: 100% 0;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 100px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .1);
}
.back{
    transform: translateZ(-150px) rotateY(180deg);
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 100px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .1);
}
.left{
    transform: rotateY(270deg) translateX(-150px);
    transform-origin: 0 50%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 100px rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .1);
}
@media screen and (max-width: 600px) {
    .whatIsContainer {
        display: flex;
        flex-direction: column;
    }
    .body-text p[data-scroll="in"] {
        transition-delay: calc(0.1s * var(--i));
        transform: translateY(calc(20px * var(--i)));
    }
    .body-text p:nth-child(5)[data-scroll="in"] {
        margin-bottom: 70px;
    }

}
@media screen and (max-width: 800px) {
    .whatIsContainer {
        display: flex;
        flex-direction: column;
    }
    .body-text p[data-scroll="in"] {
        transition-delay: calc(0.1s * var(--i));
        transform: translateY(calc(20px * var(--i)));
    }
    .body-text p:nth-child(5)[data-scroll="in"] {
        margin-bottom: 70px;
    }
}
/* what is edu ends */

/* who are we section starts */
.people {
    background: linear-gradient(to bottom ,#d8f3dc, #ccdbfd, #edf2fb);
    box-shadow: -10px -10px 100px #d8f3dc;
    filter: drop-shadow(0 0 100px #d8f3dc);
    height: 120vh;
    width: 100%;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 80vh;
    width: 100%;
}
.card1 {
    width: 300px;
    height: 400px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .1),
                inset -5px -5px 5px rgba(255,255,255,.5),
                5px 5px 5px rgba(0, 0, 0, .1),
                -5px -5px 5px rgba(255,255,255,.5);
    border-radius: 15px;
    position: relative;
}
.box{
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 15px;
    /* overflow: hidden; */
    transition: .5s;
}
.card1:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    background: linear-gradient(45deg ,rgb(185, 92, 228), rgb(79, 41, 205));
}
.card1 .box .content {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
}
.card1 .box .content .img-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    border-radius: 15px;
    position: relative;
}
.card1 .box .content img {
    width: 100%;
    height: 75%;
    border-radius: 15px;
}
.card1:hover .img-box {
    position: absolute; 
    top: -50px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    height: 100px;
    animation: big-to-small .7s linear forwards;
}
.card1 .box .content h1:nth-child(2) {
    position: absolute;
    top: 30%;
    font-size: 180px;
    display: none;
    pointer-events: none;
}
.card1:hover .box .content h1:nth-child(2) {
    color: rgba(0, 0, 0, .1);
    display: block;
}

@keyframes big-to-small {
    0%{
        border-radius: 25%;
        opacity: .1;
    }
    50%{
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        width: 80px;
        height: 100px;
        border-radius: 50%;
        opacity: 1;
    }
}
.card1 .box .content p {
    display: none;
}
.card1:hover .box .content p {
    display: block;
    text-align:center;
    font-size: 1.2rem;
    margin: 10px 20px;
    position: absolute;
    top: 80px;
    color: #fff;
    filter: drop-shadow(0 0 5px #ffffffaa);
}
.img-box .name {
    z-index: -1;
    font-size: 7rem;
    color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    letter-spacing: 2px;
    position: absolute;
    pointer-events: none;
    left: -150px;
    bottom: -50px;
    transition: 1s;
}
.card1:hover .img-box .name{
    display: none;
}
.card1:hover .img-box .bg-glass{
    display: none;
}
.card2 .img-box .name {
    text-align: end;
    right: -150px;
    top: -120px;
}
.img-box .bg-glass {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    filter: blur(20px);
    z-index: -1;
    border-radius: 15px;
}
.social {
    margin-bottom: 150px;
}
.social ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 0 ;
    width: 60px;
    height: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, .5);
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.1),
                inset -5px -5px 5px rgba(255,255,255,.5),
                5px 5px 5px rgba(0,0,0,.1),
                -5px -5px 5px rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
    border-radius: 0 15px 15px 0px;
}
.social ul li {
    list-style-type: none;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 3px 0;
    box-shadow: inset 5px 5px 5px rgba(255,255,255,.5),
                inset -5px -5px 5px rgba(0,0,0,.1),
                5px 5px 5px rgba(255,255,255,.5),
                -5px -5px 5px rgba(0,0,0,.1)  ;
    background: rgba(255,255,255,.9);
    border-radius: 10px;
    cursor: pointer;
    animation: animation 4s linear infinite;
    animation-delay: calc(0.15s * var(--i));
}
@keyframes animation {
    0%{
        transform: scale(.8);
    }
    20% {
        transform: translateY(10px) scale(.7);
    }
    70% {
        transform: translateY(-10px) scale(.7);
    }
    100%{
        transform: scale(.8);
    }
}
.social ul li a {
    color: rgba(0, 0, 0, .9);
    backdrop-filter: blur(20px);
    font-size: 1.5rem;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    
}
/* who are we section ends */
